{% extends 'navbar.html.twig' %}
{% block content %}
    <div>
        <h2>{{ page_heading_1 }}&nbsp; {{ page_username }}</h2>
        <p>Your Phone Number: {{ page_mobile }}</p>
        <img class="container-sm" src="{{ image_path }}">
    </div>
{% endblock %}
